altair
altgraph
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
auto-py-to-exe
backcall
beautifulsoup4
bleach
blinker
bottle
bottle-websocket
branca
Brotli
cachetools
certifi
cffi
charset-normalizer
click
click-plugins
cligj
colorama
cycler
dash
dash-core-components
dash-html-components
dash-table
debugpy
decorator
defusedxml
Eel
entrypoints
executing
fastjsonschema
Fiona
Flask==2.1.2
Flask-Compress2
folium.post1
fonttools
future
gdal-bin
geojson
geopandas
gevent
gevent-websocket
gitdb
GitPython
greenlet
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mistune
munch
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
packaging
pandas
pandocfilters
parso
pefile
pickleshare
Pillow
plotly
prometheus-client
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pycparser1
pydeck
Pygments
pyinstaller
pyinstaller-hooks-contrib
Pympler
pyparsing
pyproj
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim.post0
pywin32
pywin32-ctypes
pywinpty
pyzmq
requests
resources
semver
Send2Trash
Shapely
six
smmap
soupsieve
stack-data
staty
streamlit
streamlit-folium
tenacity
terminado
testpath
toml
toolz
tornado
traitlets
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
webencodings
Werkzeug
whichcraft
widgetsnbextension
zipp
zope.event
zope.interface
